# Análise de Dados da COVID 19 no estado de São Paulo

Este projeto analisa os dados dos casos de covid 19 no estado de São Paulo do período de fevereiro de 2020 à setembro de 2021

Os dados esão disponíveis nos sites:

- https://www.seade.gov.br/coronavirus/#
- https://github.com/seade-R/dados-covid-sp
- https://www.seade.gov.br

### Importação dos dados

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# A variável "covid_sp" será uma tabela de dados
covid_sp = pd.read_csv("../dados_covid_sp.csv", sep=";", encoding="utf-8")

In [ ]:
# Irá ler as primeiras linhas do arquivo, mas pode definir um número específico de linhas
# covid_sp.head(25)
covid_sp.head()

In [ ]:
# Mostra a quantidade de registros (linhas(374034), colunas(26))
covid_sp.shape

O mesmo vale para arquivos de excel (.xlsx), é a mesma lógica dos arquivos .csv

### Organização dos dados

#### Renomeando variáveis (colunas)

In [ ]:
# Vai renomear colunas selecionadas através de um dicionário
covid_sp = covid_sp.rename(columns={"nome_munic": "municipio", "datahora": "data", "map_leg": "rotulo_mapa", "map_leg_s": "codigo_mapa"})

In [ ]:
covid_sp.head(2)

#### Excluindo variáveis (colunas)

In [ ]:
# Vai dropar as colunas selecionadas através de uma lista
covid_sp_alterado = covid_sp.drop(columns=["dia", "mes", "data"])

In [ ]:
covid_sp_alterado.head(3)

In [ ]:
# Excluindo por número, aonde dentro dos colchetes está o índice da coluna a ser excluída, axis=1 refere-se à colunas, axis=0 refere-se à linhas
covid_sp_alterado = covid_sp_alterado.drop(covid_sp_alterado.columns[[2]], axis=1)

In [ ]:
covid_sp_alterado.head(1)

In [ ]:
covid_sp_alterado = covid_sp

#### Criando e alterando valores das colunas (variáveis)

In [ ]:
# Alterando valores na coluna

covid_sp_alterado["area"] = covid_sp_alterado["area"] / 100
# ou
# covid_sp_alterado["area"] = covid_sp_alterado.area / 100

In [ ]:
# Criando uma coluna com a densidade demográfica (hab/km2)

covid_sp_alterado["densidade_demo"] = covid_sp_alterado["pop"] / covid_sp_alterado["area"]

In [ ]:
covid_sp_alterado.shape

In [ ]:
# Criando uma coluna com índices
lista = list(range(1, 374035))
lista

In [30]:
df = pd.DataFrame(lista, columns=["indice"])
df

        indice
0            1
1            2
2            3
3            4
4            5
...        ...
374029  374030
374030  374031
374031  374032
374032  374033
374033  374034

[374034 rows x 1 columns]

In [31]:
covid_sp_alterado.head(2)

,indice,nome_munic,codigo_ibge,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,...,cod_drs,pop,pop_60,area,map_leg,map_leg_s,latitude,longitude,semana_epidem,densidade_demo
0,1,Adamantina,3500105,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",...,5,33894,7398,411.99,0,8.0,"-21,6820","-51,0737",9,82.268987
1,2,Adolfo,3500204,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",...,15,3447,761,211.06,0,8.0,"-21,2325","-49,6451",9,16.331849

In [ ]:
# Juntando dois DataFrames
covid_sp_alterado = pd.concat([covid_sp_alterado, df], axis=1)
covid_sp_alterado.head()

In [ ]:
covid_sp_alterado = covid_sp_alterado.reindex(columns=["indice"] + list(covid_sp_alterado.columns[:-1]))

In [ ]:
covid_sp_alterado.head(5)

#### Contagem de Registros das Variáveis (Colunas)

In [ ]:
# Por quantidade:
covid_sp_alterado["semana_epidem"].value_counts()

# Por ordem do index => .sort_index()

In [ ]:
# Dessa forma trás os valores dentro de um dicionário
from collections import Counter
Counter(covid_sp_alterado.semana_epidem)

In [ ]:
# Realiza a query aonde "obitos_novos" for maior que 50, trazendo junto o nome do município e os valores
covid_sp_alterado.query("obitos_novos > 50")["nome_munic"].value_counts()

#### Selecionar Variáveis (Colunas) por Índices

In [ ]:
# "iloc"= localização do índice
# Separados pela vírgula, ao lado esquerdo as linhas, ao lado direito as colunas
x = covid_sp_alterado.iloc[:,5:13]
x

In [ ]:
y = covid_sp_alterado.iloc[0:4, 2].values

In [ ]:
y